body{
    .flex-container{
        display: flex;
        flex-flow: row wrap;
        width: 100%;
    }
    // .side-container{
    //     width: 30%;
    // }
    // .map-container{
    //     width: 69%;
    // }
}