//colors
$white-color: #E3E4E4;
$bright-color: #65CCB8;
$dark-color: #1C4A32;
$darker-color: #0C2116;

//shadow
$dark-shadow: 15px 15px 30px rgba(0, 0, 0, 0.5);


body{
    margin: 0;
    background: $darker-color;
    background-image: url(./img/background.png);
    background-position: center center;
    background-repeat: no-repeat;

    .container{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-flow: row wrap;
        h1{
            width: 100%;
            text-align: center;     
            margin-top: auto;
            font-family: Gochi Hand;
            font-style: normal;
            font-weight: normal;
            font-size: 160px;
            line-height: 70px;
            /* identical to box height */

            display: block;
            align-items: center;

            color: #E3E4E4;
        }
        .buttons{
            width: 60%;
            margin: auto;

            margin-top:1rem;
            display: flex;
            justify-content: space-around;

            a{
                text-decoration: none;
            
            text-align: center;
            font-family: Montserrat;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 44px;

            }

            .login-register{

                padding: 15px;
                width: 40%;
                background: $dark-color;
                box-shadow: $darker-color;
                border-radius: 25px;
                color: $white-color;
            }
            .login-register:hover{
                width: 40%;
                padding: 15px;
                background: $bright-color;
                box-shadow: $dark-shadow;
                border-radius: 25px;
                color: $darker-color;
            }

        }
        
    }
}